@model List<Product>

@using MbmStore.Models;


@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Home", "Index", "Catalog")

@helper RenderBook(Book book)
{
    <div class="col col-md-4">
        <p>@book.Title</p>
        <p>@book.Price</p>
        <p>@book.Publisher</p>
        <p>@book.ISBN</p>
    </div>
    <div class="col col-md-8">
        <img src="/content/images/@book.ImageUrl" alt="@book.Title"/>
    </div>
}

<h2>Books</h2>
@foreach (var product in Model)
{
    if (product is Book)
    {
        <div class="row">
            @RenderBook((Book)product)
        </div>
    }
}

<div class="row">
    
    @foreach (var musicCD in Model)
    {
        if (musicCD is MusicCD)
        {
            @RenderCD((MusicCD)musicCD)
        }
    }
    <div class="col-sm-8">

        @helper RenderCD(MusicCD musicCD)
            {
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Music</h1>
                        <p>@musicCD.Title</p>
                        <p>@musicCD.Artist</p>
                        <p>@musicCD.Price</p>
                        <p><img src="/content/images/@musicCD.ImageUrl" alt="@musicCD.Title" /></p>
                    </div>

                    <div class="col-sm-6">
                        <h1>Tracks</h1>
                        <ol>
                            @foreach (Track track in musicCD.Tracks)
                            {
                                <li>
                                    @track.Title (@track.Composer)
                                    @track.Length.Minutes:@track.Length.Seconds

                                </li>

                            }
                        </ol>
                        <p><b>Total playing time: </b>@musicCD.GetPlayingTime()</p>

                    </div>
                </div>

}

    </div>


</div>