@using MbmStore.Models;

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Home", "Index", "Customer")

<h1>Customers</h1>
@helper RenderCustomer(Customer customer){
    <div>
        <p>@customer.Firstname @customer.Lastname @string.Join(", ", @customer.PhoneNumbers) </p>
        <p>@customer.Address</p>
        <p>@customer.Zip @customer.City</p> 
        <p>@customer.Firstname @customer.Lastname is @customer.Age</p>
        <br />
    </div>
   
}

 
@RenderCustomer(ViewBag.customer1)
@RenderCustomer(ViewBag.customer2)
@RenderCustomer(ViewBag.customer3)







